.btn {
    height: max(1.9em,1.2vh);
    color: #fff;
    font-weight: 700;
    font-size: max(2em,1.5vw);
    border: none;
    text-align: center;
    border-radius: max(0.08em,0.5vw);
    width: 100%;
    cursor: pointer;
}

@media only screen and (max-height: 700px) {
    .btn {
        height: 35px;
    }
}
