.element {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 4fr 1fr 1fr;
}

.element h3:first-child {
    max-width: 5ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.element h3:first-child:hover {
    max-width: unset;
    overflow: auto;
    text-overflow: unset;
}