.header {
    height: calc(100px + 1vmin);
    padding: 20px 0px;
}

.saveat {
    color: #4DAAAA;
    font-size: calc(25px + 1vmin);
    font-weight: 700;
    letter-spacing: 0em;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: rgba(177, 228, 228, 0.42);
    text-underline-offset: calc(1px + 1vmin);
    text-decoration-thickness: calc(1px + 1vmin);
}

.logo {
    width: min-content;
}